{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="../static/senddata.js"></script>  
{% endblock %}

{% block content %}      

<body>
    <a href = '/login'>   login to this site</a>
 
    <div class = 'w3-card-4 headerTwoDiv'>
        <div class="w3-container w3-teal">
            <h2>Calculadora Financiera</h2>
        </div>

    <form class="w3-container"  id = 'calcForm'  >

        <textarea class="w3-input w3-border" style="resize:none" name = 'expression' id = 'exptextid'></textarea>
        <br>
        <input type="submit" class="w3-button w3-black" value="Evaluar" id = 'boton'>

    </form>
    </div>
</body>
</html>
{% endblock %}