<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--<link rel='stylesheet' type='text/css' media='screen' href='../static/w3.css'> -->
    <link rel='stylesheet' type='text/css' media='screen' href="https://www.w3schools.com/w3css/4/w3.css"> 

    <style>
    .headerTwoDiv{
        margin:1% auto;
        margin-right: auto; margin-left: auto; width: 70%; 
        padding-top: 11px;
    }
    </style>

</head>
<body>
    <a href = '/login'>   login to this site</a>
 
    <div class = 'w3-card-4 headerTwoDiv'>
        <div class="w3-container w3-teal">
            <h2>Calculadora Financiera</h2>
        </div>

    <form class="w3-container" method = 'POST' action = '/replaceandeval'>

        <textarea class="w3-input w3-border" style="resize:none" name = 'expression'></textarea>
        <br>
        <input type="submit" class="w3-button w3-black" value="Evaluar">

    </form>
    </div>
</body>
</html>