{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>    
</head>
<body>
    <a href = '/login'>   login to this site</a>
 
    <div class = 'w3-card-4 headerTwoDiv'>
        <div class="w3-container w3-teal">
            <h2>Calculadora Financiera</h2>
        </div>

    <form class="w3-container" method = 'POST' action = '/replaceandeval'>

        <textarea class="w3-input w3-border" style="resize:none" name = 'expression'></textarea>
        <br>
        <input type="submit" class="w3-button w3-black" value="Evaluar">

    </form>
    </div>
</body>
</html>
{% endblock %}